// ==========================================================================
// Глобальные переменные
// ==========================================================================

@font-face
  font-family: 'SF'
  src: url('~assets/fonts/SFLight.otf')
  font-weight: 100

// Рабочая область
width-container = 1200
width-mobile = 599
width-tablet = 1199

// Цвет стандартного шрифта
color-text = #343434
color-text-invert = #ffffff
// Премиальный цвет сайта
color-primary = #E0E3DA
// Акцентный цвет сайта
color-accent = #1786d7
// Цвета фона
color-bg = #ffffff
color-bg-invert = #f0f0f0

// Шрифты для текста
ff-normal = 'SF', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif

// Стандартный размер текста на сайте
fs-normal = 16
fs-small = 14

// Размеры заголовков
fs-h1 = 42
fs-h2 = 36
fs-h3 = 32
fs-h4 = 25
fs-h5 = 20
fs-h6 = 16
