@font-face {
  font-family: 'SF';
  src: url('~assets/fonts/SFLight.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SF';
  src: url('~assets/fonts/SFRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF';
  src: url('~assets/fonts/SFMedium.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

* {
  outline: none !important;
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }

  &:active,
  &:focus {
    outline: none !important;
  }
}

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  box-sizing: border-box;

  color: var(--color-text);
  font: var(--fs-normal) var(--ff-normal);
  /* font-size: responsive var(--fs-small) var(--fs-normal); */
  line-height: normal;
  letter-spacing: normal;
  font-weight: normal;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: var(--fs-h1);
  font-size: responsive var(--fs-h2) var(--fs-h1);
  padding: 0;
  margin: 0;
}

h2 {
  font-size: var(--fs-h2);
  font-size: responsive var(--fs-h3) var(--fs-h2);
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: var(--fs-h3);
  font-size: responsive var(--fs-h4) var(--fs-h3);
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h4 {
  font-size: var(--fs-h4);
  font-size: responsive var(--fs-h5) var(--fs-h4);
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h5 {
  font-size: var(--fs-h5);
  font-size: responsive var(--fs-h6) var(--fs-h5);
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h6 {
  font-size: var(--fs-h6);
  font-size: responsive var(--fs-normal) var(--fs-h6);
  font-weight: normal;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

small {
  font-size: var(--fs-small);
}

a {
  color: var(--color-accent);
  transition: color 0.3s ease;
  text-decoration: none;
  font-weight: 300;

  &:hover {
    color: color(var(--color-accent) tint(14%));
  }
}

input {
  adaptive: 320px 48px;

  font: var(--fs-normal) var(--ff-normal);
  font-size: responsive 12px var(--fs-normal);
  font-weight: normal;

  padding-left: 20px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid var(--color-primary);
  background-color: #fff;

  vertical-align: middle;
  white-space: nowrap;
  transition: border-color .3s ease-in-out, box-shadow .3s ease-in-out;
  appearance: none;

  &:hover,
  &:focus {
    box-shadow: 0 0 10px 0 color(var(--color-accent) a(20%));
  }
}

button {
  color: var(--color-text-invert);
  font: var(--fs-small) var(--ff-small);
  font-size: responsive var(--fs-small) var(--fs-normal);
  font-weight: normal;
  line-height: 48px;

  display: inline-block;
  box-sizing: border-box;
  border-radius: 6px;
  border: 0;
  background-color: var(--color-accent);
  padding: 0 32px;
  box-shadow: 0 0 25px 0 color(var(--color-accent) a(0%));

  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  transition: background-color .3s ease-in-out, color .3s ease-in-out, box-shadow .3s ease-in-out;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: color(var(--color-accent) tint(5%));
    box-shadow: 0 0 15px 0 color(var(--color-accent) a(40%));
  }
}

ul {
  padding: 0;
  margin: 0;
}

header,
section {
  @media (--container) {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
}

.container {
  adaptive: var(--width-container) auto;
  margin: 0 auto;
}

.grid {
  adaptive: var(--width-container) auto;
  flex-container: direction row, align center;
  margin: 0 auto;

  &--column {
    flex-container: direction column, align stretch, justify center;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  > .column {
    flex-column: width 100%, flex 1;

    &--margin {
      margin-right: 20px;
    }
  }
}

.hide {
  display: none !important;
}

.no-visible {
  visibility: hidden !important;
}

.focus {
  border-color: color-accent !important;
}

.error {
  border-color: #f00 !important;
  color: #f00 !important;
}
