:root {
  /* Container width and media */
  --width-container: 1200px;

  /* Color text and main elements */
  --color-text: #232323;
  --color-text-invert: #ffffff;
  --color-primary: #E0E3DA;
  --color-accent: #0086ff;
  --color-bg: #ffffff;
  --color-bg-invert: #f0f0f0;

  /* Font family and font sizes */
  --ff-normal: 'SF', Helvetica, Arial, sans-serif;
  --fs-normal: 16px;
  --fs-small: 14px;
  --fs-h1: 52px;
  --fs-h2: 46px;
  --fs-h3: 32px;
  --fs-h4: 24px;
  --fs-h5: 20px;
  --fs-h6: 16px;
}

@custom-media --mobile (max-width: 760px);
@custom-media --tablet (min-width: 761px) and (max-width: 1024px);
@custom-media --container (min-width: 0px) and (max-width: 1199px);